<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MID CULTURE{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="nav-container">

            <div class="logo">
                <a href="{% url 'store:home' %}">MID CULTURE</a>
            </div>

            <div class="nav-links">
                <a href="{% url 'store:home' %}">Home</a>
                <a href="{% url 'store:cart' %}">Cart</a>

                {% if user.is_authenticated %}
                    <a class="btn logout" href="{% url 'store:logout' %}">
                        Logout
                    </a>
                {% else %}
                    <a class="btn login" href="{% url 'store:login' %}">
                        Login
                    </a>
                    <a class="btn signup" href="{% url 'store:signup' %}">
                        Signup
                    </a>
                {% endif %}
            </div>

        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
